<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- dao bean -->
<bean id="userDao" class="com.user.model.UserDao"></bean>
<bean id="guestDao" class="com.guest.model.GuestDao"></bean>

<!-- handlerMapping -->
<bean id="handlerMapping" 
class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="mappings">
		<props>
			<prop key="/login.do">login</prop>
			<prop key="/result.do">loginResult</prop>
			<prop key="/bbs/list.do">guestlist</prop>
			<prop key="/bbs/add.do">guestAdd</prop>
			<prop key="/bbs/insert.do">guestInsert</prop>
			<prop key="/bbs/detail.do">guestDetail</prop>
			<prop key="/bbs/edit.do">guestEdit</prop>
			<prop key="/bbs/update.do">guestUpdate</prop>
			
		</props>
	</property>
</bean>

<!-- controller -->
<bean name="login"
class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="user/login"></property>
</bean>
<bean name="loginResult" class="com.user.controller.LoginController">
	<property name="dao" ref="userDao"></property>
</bean>
<bean name="guestlist" class="com.guest.controller.ListController">
	<property name="dao" ref="guestDao"></property>
</bean>
<bean name="guestAdd" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="guest/form"></property>
</bean>
<bean name="guestInsert" class="com.guest.controller.InsertController">
	<property name="commandClass" value="com.guest.model.GuestVo"></property>
	<property name="commandName" value="guestVo"></property>
	<property name="dao" ref="guestDao"></property>
</bean>
<bean name="guestDetail" class="com.guest.controller.OneController">
	<property name="dao" ref="guestDao"></property>
	<property name="page" value="detail"></property>	
</bean>
<bean name="guestEdit" class="com.guest.controller.OneController">
	<property name="dao" ref="guestDao"></property>	
	<property name="page" value="editform"></property>	
</bean>
<bean name="guestUpdate" class="com.guest.controller.UpdateController">
	<property name="commandClass" value="com.guest.model.GuestVo"></property>	
	<property name="dao" ref="guestDao"></property>	
</bean>

<!-- viewResolver -->
<bean id="viewResolver" 
class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/"></property>
	<property name="suffix" value=".jsp"></property>
</bean>

</beans>
