<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	<property name="mappings">
		<props>
			<prop key="/test.hb">test</prop>
			<prop key="/list.hb">list</prop>
			<prop key="/add.hb">add</prop>
			<prop key="/insert.hb">insert</prop>
		</props>
	</property>
</bean>

<bean id="test" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="hb"/>
</bean>

<bean id="list" class="com.hb.controller.ListController">
	<property name="dao" ref="dao2"/>
</bean>
<bean id="add" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="guest/form"></property>
</bean>
<bean id="insert" 
class="com.hb.controller.InsertController">
	<property name="commandClass" value="com.dodo.model.GuestVo"/>
	<property name="dao" ref="dao2"/>
</bean>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix" value="/"/>
	<property name="suffix" value=".jsp"/>
</bean>
</beans>







