<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- dao 객체 생성 -->
	<!-- GuestDao dao = new GuestDao() -->
	<bean id="dao" class="com.hb.model.GuestDao"></bean>

<!-- handlerMapping -->
<!-- 아래 bean의 name속성에 path로 컨트롤러 결정 -->
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

<!-- controller - mapping -->
	<bean name="/main.do" class="com.hb.controller.IndexController"></bean>
	<bean name="/main2.do" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="index"></property>
	</bean>
	<bean name="/list.do" class="com.hb.controller.ListController">
		<property name="dao" ref="dao"></property>
	</bean>
	<bean name="/add.do" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="guest/addform"></property>
	</bean>
	<bean name="/insert.do" class="com.hb.controller.AddController"></bean>
	
<!-- viewResolver -->
<!-- 컨트롤러에게서 전달받은 view정보를 통해
	 prefix+view+suffix를 만들어 뷰 위임 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

</beans>
